custom.el
elpa
network-security.data
gnus.el
.erc-auth
.erc-auth.el
.cache
.emacs.desktop
.ercrc.el
.python-environments/
README.html
abbrev_defs
bbdb
bookmarks
desktop/
ede-projects.el
eshell/
eww-bookmarks
jdee/
my-lisp.el
projectile-bookmarks.eld
recentf
semanticdb/
snippets/
srecode-map.el
tramp
transient/
url/
workspace/
.lsp-session-*
ido.last
\#*#
.\#*
.emacs.desktop.lock
