*.bk
custom.el
elpa
network-security.data
gnus.el
.erc-auth
.erc-auth.el
.cache
.emacs.desktop
.ercrc.el
.python-environments/
README.html
abbrev_defs
bbdb
ebdb
bookmarks
desktop/
ede-projects.el
eshell/
eww-bookmarks
jdee/
my-lisp.el
projectile-bookmarks.eld
recentf
semanticdb/
snippets/
srecode-map.el
tramp
transient/
url/
workspace/
.lsp-session-*
ido.last
\#*#
.\#*
.emacs.desktop.lock
diary
ical-diary
newsticker/
.dap-breakpoints
.tern-port
tutorial
projects
eglot-eclipse-jdt-cache
**/*.elc
my-SMTPs
eudc-options
google-diary
image-dired/
.org-id-locations
.envrc
build.log
**/*~
install
package-quickstart.el
emacs.d/sessions/emacs.desktop
emacs.d/sessions/history
create_links.sh
rsync_up.sh
rsync_down.sh
rsync_excludes.txt
gnus/
authinfo.gpg
