[submodule "use-package"]
	path = emacs.d/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "emacs.d/use-package"]
	path = emacs.d/use-package
	url = git@github.com:jwiegley/use-package.git
